<!-- Contacto -->
<section id="contacto">
  <div class="row min-h-100vh m-0 p-0 content">
      <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center text-center">
          <div>
              <h2 class="title mb-5">CONTACTO</h2>
              <div id="contenidoContacto"></div>
          </div>
      </div>
      <div class="col-12 col-xl-6 m-0 p-0">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26296.2762323027!2d-58.54426581366241!3d-34.527353150658406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0c6644d53c1%3A0x9c0cd6b0d56aa783!2sMunro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1673881358188!5m2!1ses-419!2sar"
          id="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
</section>
