<div class="content">
  <!-- Intro -->
  <section id="intro" class="container">
      <div class="row min-h-100vh d-flex align-items-center m-0">
          <div class="col-12py-5">
              <h1 class="text-dark-blue">Desarrollador web</h1>
              <h2>Front-End</h2>
              <h2>Diseño de páginas web. UX/UI</h2>
          </div>
      </div>
  </section>

  <!-- Actividades -->
  <section id="actividades" class="container">
      <div class="row" >

        <div *ngFor="let producto of productos" class="col-12 col-xl-4 d-flex justify-content-center align-items-center p-2 text-black">
          <div class="card" style="width: 18rem;">
              <img src="{{producto.urlImagen}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>

              </div>
          </div>
        </div>

      </div>
  </section>
</div>
