<div class="content">
  <!-- Intro -->
  <section id="intro" class="container">
      <!-- video -->
      <video autoplay muted loop class="myVideo">
          <!--<source src="./assets/video/Rompecabezas.mp4" type="video/mp4"> -->
      </video>
      <div class="row min-h-100vh  m-0">
          <div class="col-12 col-xl-6 py-5 d-flex align-items-center">
            <div>
              <h1>Bienvenidos a CHAKANA</h1>

              <p> Aquí encontrarán una amplia variedad de eventos culturales y educativos, desde conciertos y obras de teatro hasta talleres y exposiciones. Nuestro objetivo es brindarles una experiencia enriquecedora y educativa, mientras promovemos la diversidad artística y cultural en nuestra comunidad. ¡Esperamos verte pronto en uno de nuestros eventos!</p>
              <button type="button" class="btn btn-primary p-2"><a routerLink="/contacto">CONTACTAME</a></button>
            </div>
          </div>
          <div class="col-12 col-xl-6 py-5" >
              <img src="./../../assets/images/ChakanalogoS.png" alt="logo imagen" id="img-intro" class="w-100">
          </div>
      </div>
  </section>

  <!-- Conocimientos -->
  <section id="conocimientos">
      <div class="row m-0 p-0" style="height: 100vh;">
          <div class="col-12 col-xl-6 m-0 p-0">
              <img src="./../../assets/images/ChakanalogoS.png" alt="imagen de un desarrollador" class="w-100" style="height: 100vh; object-fit: cover; ">
          </div>
          <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center text-center">
              <div class=" container py-5">
                  <h3 class="text-white">
                    Un centro cultural es una excelente adición para cualquier comunidad. <br>
                    Ofrece una variedad de programas educativos, artísticos y culturales para todas las edades.<br>
                    Los visitantes pueden disfrutar de exposiciones de arte, conciertos, obras de teatro, talleres y conferencias.<br>
                    También es un lugar para que los artistas locales exhiban y vendan sus obras.<br>
                    <br>
                    Además, un centro cultural puede ser un espacio para que las personas se reúnan y se relacionen, fomentando la comunidad y la cohesión social.<br>
                    A menudo también sirve como un espacio de aprendizaje para estudiantes y como un lugar para que las personas de diferentes orígenes culturales
                     compartan sus tradiciones y experiencias. </h3>

              </div>
          </div>
      </div>
  </section>
</div>
